body{
    background-color: gray;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
#startBtn{
    border-width: 25px;
    border-color: lightcoral;
    margin-top: 25%;
   margin-bottom: 45%;
   margin-left: 45%;
   margin-right: 45%;
}
.img{
    border-style: solid;
    border-color: lightgoldenrodyellow;
}

.hide {
    display: none;
}
#answerA{
    display: block;
  width: 100%;
  border: none;
  background-color: #4CAF50;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
 
}
#answerB{
    display: block;
    width: 100%;
    border: none;
    background-color: pink;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
   
}
#answerC{
    display: block;
  width: 100%;
  border: none;
  background-color: aquamarine;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
 
}